## Fall 2023

In [1]:
#fall = pd.read_csv("Fall 2023.csv")

In [2]:
#fall['Graduate Student'] = fall['Graduate Student'].fillna('No')
#fall['Instructor _Title'] = fall['Instructor _Title'].fillna('Unk')
#fall['Link ID'] = fall['Link ID'].fillna('Unk')
#fall['Link Cnct'] = fall['Link Cnct'].fillna('Unk')
#fall['XList Group'] = fall['XList Group'].fillna('Unk')
#fall['XList Enrl'] = fall['XList Enrl'].fillna(0)
#fall['XList Max Enrl'] = fall['XList Max Enrl'].fillna(0)
#fall['XList Seats Avail'] = fall['XList Seats Avail'].fillna(0)
#fall['Days'] = fall['Days'].fillna('Unlisted')

# cast
#fall['Lim**'] = fall['Lim**'].replace('None', 0)
#fall['Lim**'] = fall['Lim**'].astype(int)

In [3]:
#fall.to_csv('clean_fall.csv', index=False)

In [4]:
#len(fall['Instructor _Title'].unique())

In [5]:
#fall['IType'].unique()

In [6]:
#group_instructorSubject = fall.groupby(['Instructor', 'Instructor _Title', 'Department'], as_index=False)['Subject'].count()

In [7]:
#group_instructorSubject

In [8]:
#plt.figure(figsize=(55,15))
#plt.xticks(rotation=45, ha='right')
#sns.barplot(group_instructorSubject, x='Instructor', y='Subject', color='green')
#plt.tight_layout()
#plt.show()

In [9]:
#group_DepartmentInstructors = fall.groupby(['Department'], as_index=False)['Instructor'].count()

In [10]:
#group_DepartmentInstructors

In [11]:
#plt.figure(figsize=(35,20))
#sns.barplot(group_DepartmentInstructors, x='Department', y='Instructor', palette='muted')
#plt.tight_layout()
#plt.show()

In [12]:
# aggregate for these: count of courses, sum of credit hours, sum of course enrollment, sum of course capacity
#aggregated_fall = fall.groupby(['Instructor', 'Title', 'Subject', 'Crs .'],as_index=False).agg({'CRN': 'count', 'Max Credit': 'sum', 'Enrl*': 'sum', 'Lim**': 'sum'})

In [13]:
#aggregated_fall.rename({'CRN': 'course_count', 'Max Credit': 'MC_Sum', 'Enrl*': 'Enrolled_Sum', 'Lim**': 'Capacity_Sum', 'Sec .': 'section_count'}, axis=1, inplace=True)

In [14]:
#aggregated_spring.to_csv('FA23.csv', index=False)

In [15]:
#test_df = fall.groupby(['Instructor', 'Instructor _Title', 'Department']).apply(lambda group: pd.Series({
#    'Courses': list(zip(group['Subject'], group['Crs .'])),
#    'Course_count': group['CRN'].nunique(),
#    'Sum_MaxCredits': group['Max Credit'].sum(),
#    'Sum_Enrollment': group['Enrl*'].sum(),
#    'Sum_Capacity': group['Lim**'].sum()
#})).reset_index()

#test_df

In [16]:
#test_df.to_csv('FA23.csv', index=False)

## Spring 2023

In [17]:
#spring = pd.read_csv("Spring 2023.csv")

In [18]:
#spring['Graduate Students'] = spring['Graduate Students'].fillna('No')
#spring['Instructor'] = spring['Instructor'].fillna('Unk')
#spring['Instructor_Title'] = spring['Instructor_Title'].fillna('Unk')
#spring['Link ID'] = spring['Link ID'].fillna('Unk')
#spring['Link Cnct'] = spring['Link Cnct'].fillna('Unk')
#spring['XList Group'] = spring['XList Group'].fillna('Unk')
#spring['XList Enrl'] = spring['XList Enrl'].fillna(0)
#spring['XList Max Enrl'] = spring['XList Max Enrl'].fillna(0)
#spring['XList Seats Avail'] = spring['XList Seats Avail'].fillna(0)
#spring['Days'] = spring['Days'].fillna('Unlisted')

# cast
#spring['Lim**'] = spring['Lim**'].replace('None', 0)
#spring['Lim**'] = spring['Lim**'].astype(int)

In [19]:
#spring.to_csv('clean_sping.csv', index=False)

In [20]:
#test_df = spring.groupby(['Instructor', 'Instructor_Title', 'Department']).apply(lambda group: pd.Series({
#    'Courses': list(zip(group['Subject'], group['Crs .'])),
#    'Course_count': group['CRN'].nunique(),
#    'Sum_MaxCredits': group['Max Credit'].sum(),
#    'Sum_Enrollment': group['Enrl*'].sum(),
#    'Sum_Capacity': group['Lim**'].sum()
#})).reset_index()

#test_df

In [21]:
#spring['IType'].unique()

In [22]:
#test_df.to_csv('SP23.csv', index=False)

dash app/

In [6]:
spring = pd.read_excel("SP23 Standardized.xlsx")
tmp = spring.groupby(['Instructor_Title', 'Department'], as_index=False)['Course_count'].sum()
spring

,Instructor,Instructor_Title,Department,Courses,Course_count,Sum_MaxCredits,Sum_Enrollment,Sum_Capacity
0,"Adamo, Nicoletta",Professor,Computer Graphics Technology,"[('CGT', 54000), ('CGT', 59700)]",2,6.0,6,25
1,"Aguirre, Milton E.",Assistant Professor,School of Engineering Tech,"[('ENGT', 48000), ('ENGT', 48100), ('ENGT', 48...",3,9.0,200,275
2,"Ahmad, Aanis",Lecturer,Computer Graphics Technology,"[('CGT', 57500)]",1,3.0,16,20
3,"Alcorn, Brandon M.",Professor of Naval Science,Naval Science,"[('NS', 31000), ('NS', 31000)]",2,6.0,22,44
4,"Allison, Christopher S.",Lecturer,Schl of Construction Mgmt Tech,"[('CM', 10000), ('CM', 20000), ('CM', 33100), ...",5,27.5,305,408
...,...,...,...,...,...,...,...,...
244,"Zhu, Yi",Student,Computer Information Tech,"[('CNIT', 17500)]",1,3.0,40,40
245,"Ziakkas, Dimitrios",Assistant Professor,Schl of Aviation & Transp Tech,"[('AT', 38800)]",1,3.0,52,65
246,"Zimmermann, Natalie",Student,Schl of Aviation & Transp Tech,"[('AT', 26200)]",1,4.0,35,36
247,"Zimpfer, Mark D.",Clinical Professional Associate,Schl of Construction Mgmt Tech,"[('CM', 10000), ('CM', 30000), ('CM', 36200), ...",5,20.5,288,386
248,"Ziulkowski, Jonathon D.",Senior Lecturer,Schl of Aviation & Transp Tech,"[('AT', 10300), ('AT', 10600), ('AT', 20200)]",3,9.0,239,282

In [8]:
#q1 = tmp['Course_count'].quantile(0.25)
#q3 = tmp['Course_count'].quantile(0.75)
#iqr = q3-q1

#lower = q1 - 1.5 * iqr
#upper = q3 + 1.5 * iqr

#outliers = tmp[(tmp['Course_count'] < lower) | (tmp['Course_count'] > upper)]
#outliers

       Instructor_Title                      Department  Course_count
4   Assistant Professor       Computer Information Tech            24
6   Assistant Professor  Schl of Construction Mgmt Tech            31
11  Associate Professor    Computer Graphics Technology            36
53            Professor      School of Engineering Tech            21

In [ ]:
#spring.groupby(['Department', 'Instructor_Title'], as_index= False)['Course_count'].mean()

,Department,Instructor_Title,Course_count
0,Aerospace Studies,Instructor,2.00
1,Aerospace Studies,Instructor,3.00
2,Aerospace Studies,Operations Flight Commander,2.00
3,Aerospace Studies,Professor of Aerospace Studies,2.00
4,Computer Graphics Technology,Assistant Professor,3.50
...,...,...,...
76,Technology Ldrshp & Innovatn,Associate Professor,1.50
77,Technology Ldrshp & Innovatn,Clinical Professional Assistant,1.75
78,Technology Ldrshp & Innovatn,Limited Term Lecturer,1.50
79,Technology Ldrshp & Innovatn,Professor,1.20
80,Technology Ldrshp & Innovatn,Senior Lecturer,2.50

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
import plotly.express as px
import plotly.graph_objects as go
import dash
from dash import dcc
from dash import html
from dash import dash_table
from dash.dependencies import Input, Output
import dash_bootstrap_components as dbc

In [24]:
app = dash.Dash(__name__)
# server = app.server

fall_data = pd.read_excel('FA23-standardized.xlsx')
fall_data = fall_data.query('Department != "Naval Science" and Department != "Military Science" and Department != "Aerospace Studies"')
spring_data = pd.read_excel('SP23 Standardized.xlsx')
spring_data = spring_data.query('Department != "Naval Science" and Department != "Military Science" and Department != "Aerospace Studies"')
clean_fall = pd.read_csv('clean_fall.csv')
clean_spring = pd.read_csv('clean_sping.csv')

# ---------------------------- # --------------------------------- # ---------------------------- #
app.layout = html.Div([
    html.H1('Faculty Loading', style={'tex_align': 'center'}),
    dcc.Dropdown(id='file-dropdown', options=[{'label': 'Spring', 'value':'spring'},
                                              {'label': 'Fall', 'value': 'fall'}],
                                              value='spring', multi=False),

    dcc.Dropdown(id = 'instructor_dropdown', options=[{'label':i, 'value': i} for i in spring_data.Instructor.unique()],
                 value=fall_data.Instructor.iloc[0], multi=False),
    html.Div([
        dcc.Graph(id='enrollment-capacity-chart'),
        dbc.Card(id='course-card', 
                 style={'width': '18rem', 'margin': '10px', 'background-color': 'lightblue', 'outline': True}, 
                 children = [dbc.CardHeader('Courses Taught'), 
                             dbc.CardBody([dbc.ListGroup(id='courses-list'),
                                           ])]),
        dcc.Graph(id='mean-courses'),
        dcc.Graph(id='instructor-courses-count'),
        dcc.Graph(id='instructor-courses-sum-department'),
        #dcc.Graph(id='course-count-chart'),
        dcc.Graph(id='department-course-count'),
        dcc.Graph(id='enrollment-by-day'),

        html.Div([
            dcc.Markdown("### Outlier Table", style={'fontSize': 20}),
            dash_table.DataTable(id='outlier-table', columns=[{'name': col, 'id': col} for col in spring_data.columns],
                                 style_table={'height': '300px', 'overflowY': 'auto'},
                                 )
                ])
        ], style={'backgroundColor': '#f2f2f2', 'fontFamily': 'Arial, sans-serif'})
], style={'backgroundColor': '#f2f2f2', 'fontFamily': 'Arial, sans-serif'})


@app.callback(
        Output('instructor_dropdown', 'options'),
        [Input('file-dropdown', 'value')]
)
def update_instructor_dropdown(value):
    if value == 'spring':
        options = [{'label': i, 'value': i} for i in spring_data['Instructor'].unique()]
    elif value == 'fall':
        options = [{'label': i, 'value': i} for i in fall_data['Instructor'].unique()]
    else:
        options = [{'label': i, 'value': i} for i in spring_data['Instructor'].unique()]
    return options


@app.callback(
        [Output('enrollment-capacity-chart', 'figure'),
         Output('courses-list', 'children'),
         Output('mean-courses', 'figure'),
         Output('instructor-courses-count', 'figure'),
         Output('instructor-courses-sum-department', 'figure'),
         #Output('course-count-chart', 'figure'),
         Output('department-course-count', 'figure'),
         Output('enrollment-by-day', 'figure'),
         Output('outlier-table', 'data')
         ],
        [Input('file-dropdown', 'value'),
         Input('instructor_dropdown', 'value')]
)
def update_chart(selected_file, value):
    if selected_file == 'spring':
        df = spring_data
        df2 = clean_spring
    elif selected_file == 'fall':
        df = fall_data
        df2 = clean_fall
    
    filtered_df = df[df['Instructor'] == value]
    filtered_df['Enrollment %'] = filtered_df['Sum_Enrollment'] / filtered_df['Sum_Capacity'] * 100

    mean_courseDF = df.groupby(['Department', 'Instructor_Title']).agg({'Course_count': 'mean'}).reset_index()

    instructorTitle_courses = df.groupby(['Instructor_Title'], as_index=False)['Course_count'].sum()
    instructorTitle_Deptcourses = df.groupby(['Instructor_Title', 'Department'], as_index=False)['Course_count'].sum()

    outlier_df = pd.DataFrame()
    for dep, data in df.groupby('Department'):
        Q1 = data['Course_count'].quantile(0.25)
        Q3 = data['Course_count'].quantile(0.75)
        IQR = Q3 - Q1
        lower_threshold = Q1 - 1.5 * IQR
        upper_threshold = Q3 + 1.5 * IQR
        outliers = data[(data['Course_count'] < lower_threshold) | (data['Course_count'] > upper_threshold)]
        outlier_df = pd.concat([outlier_df, outliers])

    unique_courses = filtered_df['Courses'].explode().unique()

    department = df.groupby('Department', as_index=False)['Sum_Enrollment', 'Sum_Capacity'].sum()
    #department['Enrollment %'] = department['Sum_Enrollment'] / department['Sum_Capacity'] * 100
    day_avail = df2.groupby(['Department', 'Days'], as_index=False)['Enrl*'].sum()
    #top_courses = df2.groupby(['Subject','Crs .', 'Title'], as_index=False).agg({'Enrl*': 'sum'}).nlargest(10, 'Enrl*')

    fmt_cap_txt = filtered_df['Sum_Capacity'].astype(int).astype(str)
    fmt_ccount_txt = filtered_df['Course_count'].astype(int).astype(str)

    enrollment_capacity_figure = {
        'data': [
            {'x': filtered_df['Courses'], 'y': filtered_df['Enrollment %'], 'type': 'bar', 'name': 'Enrollment'},
            {'x': filtered_df['Courses'], 'y': 100 - filtered_df['Enrollment %'], 'type': 'bar', 'name': 'Capacity', 'text': fmt_cap_txt}
        ],
        'layout': {
            'title': f'Enrollment and Capacity',
            'barmode': 'stack'
        }
    }

    course_list_Items = [dbc.ListGroupItem(course) for course in unique_courses]

    #course_count_figure = {
    #    'data': [
    #        {'x': filtered_df['Department'] + '-' + filtered_df['Courses'], 'y': filtered_df['Course_count'], 'type':'bar', 'name':'Course count', 'text': fmt_ccount_txt}
    #    ],
    #    'layout': {
    #        'title': f'Course count'
    #    }
    #}

    mean_courses_chart = px.bar(mean_courseDF, x='Department', y='Course_count', color='Instructor_Title',
                                title=f'Mean number of courses by instructor title and department ({selected_file.capitalize()})',
                                labels={'Course_count': 'Mean Courses'}, height=400)
    
    instructor_course_assignment = {
        'data': [
            {'x': instructorTitle_courses['Instructor_Title'], 'y': instructorTitle_courses['Course_count'], 'type': 'bar', 'name': 'Titles'}
        ],
        'layout': {
            'title': f'Sum of Instructor titles teaching all possible courses'
        }
    }

    instructor_department_courseSum = px.bar(instructorTitle_Deptcourses, x='Instructor_Title', y='Course_count', color='Department',
                                             title=f'Sum of instructor titles by department', barmode='stack', labels={'Course_count': 'Sum of Courses'}) 

    department_summary = {
        'data': [
            {'x': department['Department'], 'y': department['Sum_Enrollment'], 'type': 'bar', 'name': 'Enrollment'},
            {'x': department['Department'], 'y': department['Sum_Capacity'], 'type': 'bar', 'name': 'Capacity'}
        ],
        'layout': {
            'title': f'Department Enrollment'
        }
    }

    enrollment_day_summary = px.bar(day_avail, x='Days', y='Enrl*', color='Department',
                                    title=f'Enrollment by day and department', barmode='stack')
    
    outlier_table = outlier_df.to_dict('records')

    return enrollment_capacity_figure, course_list_Items, mean_courses_chart, instructor_course_assignment, instructor_department_courseSum, department_summary, enrollment_day_summary, outlier_table

if __name__ == '__main__':
    app.run(debug=True)

C:\Users\ldmag\AppData\Local\Temp\ipykernel_43300\1740576581.py:81: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ldmag\AppData\Local\Temp\ipykernel_43300\1740576581.py:100: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.